<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <style>
            * {
                margin: 0;
                padding: 0;
                word-break: break-all;
            }
            table,
            th,
            td {
                border: 1px solid grey;
                border-collapse: collapse;
            }
        </style>
    </head>
    <body style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #555">
        <div style="box-shadow: 0 2px 15px rgba(77, 101, 117, 0.35); border-radius: 10px; padding: 2rem; background: #fff">
            <table style="width: 100%">
                <tr style="text-align: left">
                    <th>
                        <div style="display: grid">
                            <div><h1 style="padding: 0.5rem 0 0 0.5rem">SilverWebbuzz</h1></div>
                            <div style="color: #fff">
                                <div style="display: flex; align-items: center; justify-content: space-between">
                                    <div style="background: #af1a7e; padding: 0.5rem 0 0.5rem 0.5rem; width: 100%">
                                        All Types of Mobiles
                                    </div>
                                    <div>
                                        <img
                                            style="box-shadow: 2px 2px 15px grey"
                                            src="../../../assets/images/official-yfobs-logo.png"
                                            alt="official-yfobs-logo"
                                        />
                                    </div>
                                    <div style="background: #af1a7e; padding: 0.5rem 0.8rem">&nbsp;</div>
                                </div>
                            </div>
                            <div style="width: 50%">
                                <p style="padding: 0 0 0.5rem 0.5rem">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere a accusamus sit totam quia itaque?
                                </p>
                            </div>
                        </div>
                    </th>
                </tr>
                <tr>
                    <td>
                        <div style="display: flex; justify-content: space-between; margin: 0.5rem 0; padding: 0 0.5rem">
                            <div style="font-size: 16px"><b>GSTIN:</b></div>
                            <div style="font-size: 16px"><b>In eius qui sunt qu</b></div>
                            <div style="font-size: 12px">ORIGINAL FOR RESIPIENT</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="display: flex; font-size: 14px">
                            <table style="width: 70%">
                                <tr>
                                    <th style="padding: 0.3rem 0">Customer Details</th>
                                </tr>
                                <tr>
                                    <td>
                                        <div style="padding: 0.5rem">
                                            <ul style="list-style: none; line-height: 2">
                                                <li style="display: grid; grid-template-columns: 0.7fr 2fr">
                                                    <b>M/S: </b><span>Lesley Greene</span>
                                                </li>
                                                <li style="display: grid; grid-template-columns: 0.7fr 2fr">
                                                    <b>Address: </b><span>Blanditiis dolore qu, ahme, Andorra</span>
                                                </li>
                                                <li style="display: grid; grid-template-columns: 0.7fr 2fr">
                                                    <b>PHONE: </b><span>8797987898</span>
                                                </li>
                                                <li style="display: grid; grid-template-columns: 0.7fr 2fr">
                                                    <b>GSTIN: </b><span>Est mollitia n</span>
                                                </li>
                                                <li style="display: grid; grid-template-columns: 0.7fr 2fr">
                                                    <b>Place of Supply : </b><span>ahmedabad</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <div style="width: 30%">
                                <div style="padding: 0.5rem">
                                    <ul style="list-style: none; line-height: 2">
                                        <li style="display: grid; grid-template-columns: 1fr 1fr">
                                            <b>Invoice date :</b><span>04 Apr 2023</span>
                                        </li>
                                        <li style="display: grid; grid-template-columns: 1fr 1fr">
                                            <b>Invoice number :</b><span>752</span>
                                        </li>
                                        <li style="display: grid; grid-template-columns: 1fr 1fr">
                                            <b>Challan no :</b><span>8797987898</span>
                                        </li>
                                        <li style="display: grid; grid-template-columns: 1fr 1fr">
                                            <b>P.O./S.O. number :</b><span>856</span>
                                        </li>
                                        <li style="display: grid; grid-template-columns: 1fr 1fr">
                                            <b>Due date :</b><span>02 Jun 2023</span>
                                        </li>
                                        <li style="display: grid; grid-template-columns: 1fr 1fr"><b>Within :</b><span>60 Days</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        <table style="width: 100%; font-size: 14px">
                            <tr style="height: 2rem; background: #f1f1f1">
                                <th>Sr.No.</th>
                                <th>Name of Product / Service</th>
                                <th>HSN/SAC</th>
                                <th>QTY</th>
                                <th>Rate</th>
                                <th>Taxable Value</th>
                            </tr>
                            <tr style="height: 2rem; text-align: center">
                                <td>1</td>
                                <td>Earphones</td>
                                <td>8798797</td>
                                <td>1</td>
                                <td>€ 1000.00</td>
                                <td style="text-align: right; padding: 0 0.5rem">€ 1000.00</td>
                            </tr>
                            <tr style="text-align: right; height: 2rem">
                                <td style="border-bottom-color: white"></td>
                                <td style="padding: 0 0.5rem; border-bottom-color: white">Sub Total</td>
                                <td style="border-bottom-color: white"></td>
                                <td style="border-bottom-color: white"></td>
                                <td style="border-bottom-color: white"></td>
                                <td style="padding: 0 0.5rem; border-bottom-color: white; background: #f1f1f1">€ 1000.00</td>
                            </tr>
                            <tr style="text-align: right; height: 2rem">
                                <td style="border-bottom-color: white"></td>
                                <td style="padding: 0 0.5rem; border-bottom-color: white">Discount [10%]</td>
                                <td style="border-bottom-color: white"></td>
                                <td style="border-bottom-color: white"></td>
                                <td style="border-bottom-color: white"></td>
                                <td style="padding: 0 0.5rem; border-bottom-color: white; background: #f1f1f1">€ 100.00</td>
                            </tr>
                            <tr style="text-align: right; height: 2rem">
                                <td></td>
                                <td style="padding: 0 0.5rem">IGST5 [5%]</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td style="padding: 0 0.5rem; background: #f1f1f1">€ 45.00</td>
                            </tr>
                            <tr style="height: 2rem; text-align: center; background: #f1f1f1">
                                <td colspan="3" style="text-align: right; padding-right: 1rem">Total</td>
                                <td>1</td>
                                <td></td>
                                <td style="text-align: right; padding: 0 0.5rem">€ 1000.00</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        <table style="width: 100%; text-align: center; font-size: 14px">
                            <tr>
                                <td>Taxable Value</td>
                                <td>Discount</td>
                                <td>IGST5</td>
                                <td>Total</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <div style="display: grid; grid-template-columns: 0.5fr 2fr">
                                        <div style="border-right: 1px solid black">%</div>
                                        <div>Amount</div>
                                    </div>
                                </td>
                                <td>
                                    <div style="display: grid; grid-template-columns: 0.5fr 2fr">
                                        <div style="border-right: 1px solid black">%</div>
                                        <div>Amount</div>
                                    </div>
                                </td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>€ 900.00</td>
                                <td>
                                    <div style="display: grid; grid-template-columns: 0.5fr 2fr">
                                        <div style="border-right: 1px solid black">10</div>
                                        <div>€100.00</div>
                                    </div>
                                </td>
                                <td>
                                    <div style="display: grid; grid-template-columns: 0.5fr 2fr">
                                        <div style="border-right: 1px solid black">5</div>
                                        <div>€ 45.00</div>
                                    </div>
                                </td>
                                <td>€ 945.00</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        <div style="display: grid; grid-template-columns: auto auto; text-align: center; font-size: 14px">
                            <div style="display: grid; border-right: 1px solid black">
                                <div style="border-bottom: 1px solid black; padding: 0.5rem 0"><b>Bank Details </b></div>
                                <div style="border-bottom: 1px solid black; padding: 0.5rem 0"><p>Bank Details Not Found !</p></div>
                                <div style="border-bottom: 1px solid black; padding: 0.5rem 0"><b>Terms and Conditions </b></div>
                                <div style="padding: 1rem 0 3rem 0">
                                    <p>1. 10 days return policy</p>
                                    <p>2. Damaged items won't be taken back Bill is compulsory for returning items.</p>
                                </div>
                            </div>
                            <div style="display: grid">
                                <div
                                    style="
                                        border-bottom: 1px solid black;
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: space-between;
                                        padding: 0.5rem;
                                    "
                                >
                                    <div>Certified that the particulars given above are true and correct</div>
                                    <div><b>FOR SilverWebbuzz</b></div>
                                </div>
                                <div style="border-bottom: 1px solid black">&nbsp;</div>
                                <div style="display: flex; flex-direction: column; justify-content: space-between; padding: 0.5rem">
                                    <div>This is an electronically generated document, no signature is required.</div>
                                    <div>Authorised Signature</div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>
