<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <style>
            * {
                margin: 0;
            }
            table,
            th,
            td {
                border: 1px solid black;
                border-collapse: collapse;
            }
        </style>
    </head>
    <body style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #555; margin: 0; padding: 0">
        <div style="display: flex; justify-content: center; align-items: center">
            <div style="width: 100%; box-shadow: 0 2px 15px rgba(77, 101, 117, 0.35); border-radius: 10px; padding: 2rem">
                <table style="width: 100%" border="1">
                    <tr style="text-align: left">
                        <th style="font-size: 30px; color: #802886; padding: 0.5rem">SilverWebbuzz</th>
                    </tr>
                    <tr>
                        <td style="background: #af1a7e; height: 25px"></td>
                    </tr>
                    <tr>
                        <td>
                            <div style="display: flex; justify-content: space-between">
                                <div style="width: 33.33%"></div>
                                <div style="width: 33.33%">In eius qui sunt qu</div>
                                <div style="">ORIGINAL FOR RESIPIENT</div>
                            </div>
                            <!-- <div>In eius qui sunt qu</div>
                            <div>ORIGINAL FOR RESIPIENT</div> -->
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <th>Customer Details</th>
                                </tr>
                                <tr>
                                    <td>
                                        <div style="text-align: right; display: flex; justify-content: end">
                                            <ul style="list-style: none; line-height: 2; word-spacing: 0.5rem">
                                                <li><b>M/S: </b></li>
                                                <li><b>Address: </b></li>
                                                <li><b>PHONE: </b></li>
                                                <li><b>GSTIN: </b></li>
                                                <li><b>Place of Supply : </b></li>
                                            </ul>
                                            <ul style="list-style: none; line-height: 2; word-spacing: 0.5rem">
                                                <li><b> Lesley Greene </b></li>
                                                <li><b> Blanditiis dolore qu, ahme, Andorra </b></li>
                                                <li><b> 8797987898</b></li>
                                                <li><b> Est mollitia n </b></li>
                                                <li><b> ahme</b></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>In eius qui sunt qu</td>
                    </tr>
                    <tr>
                        <td>In eius qui sunt qu</td>
                    </tr>
                    <tr>
                        <td>In eius qui sunt qu</td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>
